<template>
  <div>
    <section class="mt-4 px-4">
      <div class="flex max-w-sm mb-12 mx-auto text-center border-b-2">
        <div
          :class="'w-1/2 pb-2 ' + (page==='redeemList'?'border-b-4 border-indigo-600':'')"
        >
          <button class="hover:text-indigo-600" @click="goTab('redeemList')">
            Redeem
          </button>
        </div>
        <div
          :class="'w-1/2 pb-2 ' + (page==='donateList'?'border-b-4 border-indigo-600':'')"
        >
          <button class="hover:text-indigo-600" @click="goTab('donateList')">
            Donation
          </button>
        </div>
      </div>
    </section>
    <section class="mt-4 px-4">
      <div class="flex flex-wrap -mx-4">
        <div
          class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-4"
          v-for="(item, index) in itemList"
          v-bind:key="'burn-item-' + index"
        >
          <div class="h-full border rounded-t shadow">
            <img class="rounded w-full object-full object-center" :src="item.img" />
            <div class="flex items-center justify-between py-3 px-4 border-b">
              <h3 class="text-lg font-semibold font-heading">
                {{item.name}}
              </h3>
              <span
                class="py-1 px-3 text-sm text-white font-semibold bg-green-500 rounded-full"
                >{{item.tco}} CO<sub>2</sub></span
              >
            </div>
            <p class="px-3 py-3 text-gray-500">{{item.body}}</p>
            <div class="px-3 py-3">
              <button
                class="border w-full rounded-lg block text-center py-3 px-5 lg:px-8 font-bold bg-gradient-to-br from-indigo-600 to-indigo-700 hover:from-indigo-500 hover:to-indigo-700 text-white"
                @click="btnClick(item)"
              >
                Redeem
              </button>
            </div>
            <!-- <div class="flex flex-col p-4">
              <h3
                class="text-3xl mb-3 font-semibold font-heading font-semibold"
              >
                108,200
              </h3>
              <span>Total income</span>
              <span class="text-green-500">82%</span>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="text-center">
      <a href="#" class="inline-block" @click="goBack">
        <img src="/img/go-back.jpg" class="h-8 object-full object-center">
      </a>
    </section>
  </div>
</template>

<script>
import Web3Wrapper from '../web3/web3-wrapper'
import EventBus from '../web3/event-bus'

export default {
  name: 'Burn',
  props: {},
  data: function () {
    return {
      page: "redeemList",
      donateList: [
        {
          name: "บริจาค เพื่อลดหย่อนภาษี",
          date: "2021-04-27",
          body: "บริจาคให้กองทุนวิจัย พัฒนาและนวัตกรรม รับยกเว้นภาษี 2 เท่า",
          img: "https://www.dharmniti.co.th/wp-content/uploads/2018/02/%E0%B8%81%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%B8%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%88%E0%B8%B1%E0%B8%A2%E0%B8%A5%E0%B8%94%E0%B8%AB%E0%B8%A2%E0%B9%88%E0%B8%AD%E0%B8%99%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B5-1038x584.jpg",
          tco: 3,
          address: '0xB32F056337Ebd224beF348Ee8043590DdCA563A1'
        },
        {
          name: "บริจาคให้ UNHCR",
          date: "2021-04-27",
          body: "บริจาคให้ผู้ลี้ภัยชาวโรฮิงญา เด็กๆ และครอบครับต้องการความคุ้มครองและที่พักที่ปลอดภัย",
          img: "https://www.unhcr.or.th/sites/default/files/imagecache/donate_slide/2018BGD_LandingPage_Feature-3.1_0.jpg",
          tco: 4,
          address: '0x8c49aa3a2D630FDc55b3caFf573b6f7549280DE9'
        },
      ],
      redeemList: [
        {
          name: "PTT Cash Card",
          date: "2021-04-27",
          body: `บัตรน้ำมันมูลค่า 500.-`,
          img: "https://cf.shopee.co.th/file/308247ea69ee77253e0639f1582bdd7c",
          tco: 1,
          address: '0xB32F056337Ebd224beF348Ee8043590DdCA563A1'
        },
        {
          name: "Gift Voucher SB Furniture",
          date: "2021-04-27",
          body: "Gift Voucher จาก SB Furniture มุลค่า 10,000 บาท",
          img: "https://img.kaidee.com/prd/20170614/133063984/b/bc2c4f78-0bdf-4301-9eb1-16c0077cb03d.jpg",
          tco: 2,
          address: '0x8c49aa3a2D630FDc55b3caFf573b6f7549280DE9'
        },
      ]
    };
  },
  computed: {},
  created() {
    EventBus.$on('balance-transfer', (isSender, amount) => {
      if (isSender) {
        // show dialog
      }
    })

    this.goTab("redeemList");
  },
  mounted: function () {},
  methods: {
    async btnClick(item) {
      await Web3Wrapper.sendCoin(item.address, item.tco)
    },
    goTab(tabName) {
      this.page = tabName;
      if (tabName === "redeemList") {
        this.itemList = this.redeemList;
      } else {
        this.itemList = this.donateList;
      }
    },
    goBack () {
      EventBus.$emit('user-change-page', 'home')
    },
  }
}
</script>
