<template>
  <div>
    <div class="py-4 px-4">
      <nav class="flex items-center space-x-2 justify-content-end">
        <a
          class="border border-indigo-500 inline-block py-3 px-6 leading-none text-indigo-600 bg-white hover:text-white hover:bg-indigo-700 font-medium rounded"
          href="https://line.me/ti/p/~ninetu"
          >Create {{ page === "eventList" ? 'Event' : 'Service' }}</a
        >
      </nav>
    </div>
    <h1>Campaigner</h1>
  </div>
</template>

<script>


export default {
  name: 'Earn',
  props: {},
  data: function () {
    return {}
  },
  computed: {},
  created() {},
  mounted: function () {},
  methods: {}
}
</script>
