<template>
  <div>
    <section class="mt-4 px-4">
      <div class="flex max-w-sm mb-12 mx-auto text-center border-b-2">
        <div :class="'w-1/2 pb-2 ' + (page==='eventList'?'border-b-4 border-indigo-600':'')">
          <button class="hover:text-indigo-600" @click="goTab('eventList')">Green Events</button>
        </div>
        <div :class="'w-1/2 pb-2 ' + (page==='serviceList'?'border-b-4 border-indigo-600':'')">
          <button class="hover:text-indigo-600" @click="goTab('serviceList')">Green Services</button>
        </div>
      </div>
    </section>
    <section class="mt-4 px-4">
      <div class="flex flex-wrap -mx-4">
        <div
          class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-4"
          v-for="(item, index) in itemList"
          v-bind:key="'earn-item-' + index"
        >
          <div class="h-full border rounded-t shadow">
            <img class="rounded w-full object-full object-center" :src="item.img" />
            <div class="flex items-center justify-between py-3 px-4 border-b">
              <h3 class="text-lg font-semibold font-heading">
                {{item.name}}
              </h3>
              <span
                class="py-1 px-3 text-sm text-white font-semibold bg-green-500 rounded-full"
                >{{item.tco}} CO<sub>2</sub></span
              >
            </div>
            <p class="px-3 py-3 text-gray-500">{{item.body}}</p>
            <!-- <div class="flex flex-col p-4">
              <h3
                class="text-3xl mb-3 font-semibold font-heading font-semibold"
              >
                108,200
              </h3>
              <span>Total income</span>
              <span class="text-green-500">82%</span>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="text-center">
      <a href="#" class="inline-block" @click="goBack">
        <img src="/img/go-back.jpg" class="h-8 object-full object-center">
      </a>
    </section>
  </div>
</template>

<script>
import EventBus from '../web3/event-bus'

export default {
  name: 'Earn',
  props: {},
  data: function () {
    return {
      page: "eventList",
      itemList: [],
      serviceList: [
        {
          name: "MRT free carbon",
          date: "2021-04-27",
          body: `นั่งรถไฟ ได้ เครดิต`,
          img:
            "https://www.krungsricard.com/KrungsriCreditCard/media/html/MRT-U-Web-02.jpg",
          tco: "2"
        },
        {
          name: "EV free carbon",
          date: "2021-04-27",
          body: `เติม EV ได้ เครดิต`,
          img:
            "https://auto.mthai.com/app/uploads/2018/12/789.jpg",
          tco: "5"
        },
      ],
      eventList: [
        {
          name: "ปลูกป่าทดแทน @ CMU",
          date: "2021-04-27",
          body: `ปลูกป่าทดแทน” เขาหัวโล้น โค่นเตียน ที่เชียงใหม่`,
          img:
            "https://cdn.chiangmainews.co.th/wp-content/uploads/2016/04/07171601/e_abcdhlouvxyz.jpg",
          tco: "100"
        },
        {
          name: "Blockathon 2021",
          date: "2021-04-27",
          body: `"SCB 10X" to hold "BANGKOK BLOCKATHON 2021: FINANCE AND BEYOND" competition seeking best developer teams with strong potential for blockchain technology innovation`,
          img: "https://i.ytimg.com/vi/TyXsxA2iUnc/maxresdefault.jpg",
          tco: "999"
        },
      ]
    };
  },
  computed: {},
  created() {
      this.goTab('eventList')
  },
  mounted: function () {},
  methods: {
    goTab(tabName) {
        this.page = tabName;
        if (tabName === 'serviceList') {
            this.itemList = this.serviceList
        } else {
            this.itemList = this.eventList
        }
    },
    goBack () {
      EventBus.$emit('user-change-page', 'home')
    },
  }
}
</script>
