<template>
  <div>
    <div class="p-5 text-center bg-gray-200 m-1">
      <div class="flex flex-col p-4">
        <h3 class="text-6xl mb-3 font-semibold font-heading font-semibold">
          {{ accountBalance ? accountBalance.toLocaleString() : '0' }}
        </h3>
        <span>Carbon Credit</span>
      </div>
      <!-- <div style="font-size: 32px">
        Carbon Credit {{ accountBalance ? accountBalance.toLocaleString() : '0' }} CO<sub>2</sub>
      </div> -->
      <!-- <div style="font-size: 32px" class="pt-4">
        (~ Ethereum {{ accountBalanceEth ? accountBalanceEth.toLocaleString() : '0' }} Eth)
      </div> -->
    </div>

    <div class="grid grid-cols-3 text">
      <a href="#" @click="gotoEarn">
        <div class="text-center bg-green-200">
          <img src="/img/earn-icon.png" class="px-5 pt-1 pb-2">
          Earn
        </div>
      </a>
      <a href="#" @click="gotoBurn">
        <div class="text-center bg-red-200">
          <img src="/img/redeem-icon.png" class="px-5 pt-1 pb-2">
          Redeem
        </div>
      </a>

      <div class="text-center">
        <img src="/img/scb-home-payment.jpg" class="w-11/12 object-full object-center mb-1 inline-block">
      </div>

      <!-- <img src="/img/scb-home-add.jpg" class="w-full object-full object-center"> -->
      <!-- <img src="/img/scb-home-family.jpg" class="w-full object-full object-center">
      <img src="/img/scb-home-mobile.jpg" class="w-full object-full object-center"> -->
    </div>

    <div class="grid grid-cols-1">
      <img src="/img/scb-home-bottom.jpg" class="w-full object-full object-center">
    </div>
  </div>
</template>

<script>
import EventBus from '../web3/event-bus'

export default {
  components: {
  },
  data: function () {
    return {
      account: null,
      accountBalance: 0,
      accountBalanceEth: 0,
    }
  },
  created() {
    EventBus.$on('refresh-profile', (account) => {
      this.account = account
    })

    EventBus.$on('refresh-profile-balance', (balance) => {
      this.accountBalance = balance
    })

    EventBus.$on('refresh-profile-balance-eth', (balance) => {
      this.accountBalanceEth = balance
    })

    EventBus.$emit('ask-user')
    EventBus.$emit('ask-user-balance')
  },
  methods: {
    gotoEarn () {
      EventBus.$emit('user-change-page', 'earn')
    },
    gotoBurn () {
      EventBus.$emit('user-change-page', 'burn')
    },
  }
}
</script>
