<template>
  <div>
    <div class="grid grid-cols-1">
      <template v-if="account">
        <template v-if="account.type === 'user'">
          <img src="/img/scb-top.jpg" class="w-full object-full object-center">
        </template>
        <template v-else>
          <div class="bg-black text-white py-2 font-semibold">
            <div class="py-4 text-center text-3xl">
              {{ account.name }} Backoffice
            </div>
          </div>
          <!-- <img src="/img/scb-top-ptt.jpg" class="w-full object-full object-center"> -->
        </template>
      </template>
    </div>
    <div class="grid grid-cols-1">
      <slot></slot>

      <div class="py-5 my-2">&nbsp;</div>
    </div>
    <div class="fixed bottom-0 right-0 left-0" v-if="account && account.type === 'user'">
      <div class="grid grid-cols-1">
        <img src="/img/scb-bottom.jpg" class="w-full object-full object-center">
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '../web3/event-bus'

export default {
  name: 'Earn',
  props: {},
  data: function () {
    return {
      account: null,
    }
  },
  computed: {},
  created() {
    EventBus.$on('refresh-profile', (account) => {
      this.account = account
    })
  },
  mounted: function () {},
  methods: {}
}
</script>
