<template>
  <div>
    <hr />
    <section>
      <div class="pt-4 text-center bg-gray-200">
        <div class="flex flex-col p-4">
          <h3 class="text-6xl mb-3 font-semibold font-heading font-semibold">
            {{ this.accountBalance.toLocaleString() }}
          </h3>
          <span>Carbon Credit</span>
        </div>
      </div>
    </section>

    <section>
      <div class="p-4">
        <button class="w-full bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-4 px-4 rounded">
          Trade
        </button>
      </div>
      
      <div class="p-4">
        <template v-if="!retiring">
          <button class="w-full bg-red-400 hover:bg-red-700 text-white font-bold py-4 px-4 rounded" @click="retiring = true">
            Retire
          </button>
        </template>
        <template v-else>
          <div class="flex">
            <div class="flex-grow">
              <div class="pr-4 pt-1">
                <input
                  type="number"
                  placeholder="Amount"
                  class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full"
                  v-model="retireAmount"
                />
              </div>
            </div>
            <div class="flex-none">
              <button class="w-18 bg-red-400 hover:bg-red-700 text-white font-bold py-4 px-4 rounded" @click="retire">
                Retire
              </button>
            </div>
          </div>
          
        </template>
      </div>
    </section>
  </div>
</template>

<script>
import EventBus from '../web3/event-bus'
import Web3Wrapper from '../web3/web3-wrapper'

export default {
  name: 'Earn',
  props: {},
  data: function () {
    return {
      account: null,
      accountBalance: 0,
      accountBalanceEth: 0,
      retiring: false,
      retireAmount: 0
    }
  },
  computed: {},
  created() {
    EventBus.$on('refresh-profile', (account) => {
      this.account = account
    })

    EventBus.$on('refresh-profile-balance', (balance) => {
      this.accountBalance = balance
    })

    EventBus.$on('refresh-profile-balance-eth', (balance) => {
      this.accountBalanceEth = balance
    })

    EventBus.$on('coin-retire', () => {
      this.retireAmount = 0
      this.retiring = false
    })
  },
  mounted: function () {},
  methods: {
    async retire() {
      // await Web3Wrapper.retireCoin(this.retireAmount)
      // await Web3Wrapper.sendCoin('0x3B1F915e20D230Cd6b426EE1D47245429D190481', this.retireAmount)
      this.retiring = false
    }
  }
}
</script>
