<template>
  <div id="app">
    <div class="container mx-auto pb-5 mb-5">
      <MobileTemplate>
        <template v-if="account">
          <template v-if="account.type === 'user'">
            <Home v-if="currentPage === 'home'" />
            <Earn v-else-if="currentPage === 'earn'" />
            <Burn v-else-if="currentPage === 'burn'" />
          </template>
          <template v-else-if="account.type === 'tga'">
            <TGA />
          </template>
          <template v-else-if="account.type === 'producer'">
            <Producer />
          </template>
          <template v-else-if="account.type === 'campaigner'">
            <Campaigner />
          </template>
          <template v-else>
            <div class="text-center">
              <img src="/img/unknown-user.png">
            </div>
          </template>
        </template>
      </MobileTemplate>
    </div>
  </div>
</template>

<script>
import EventBus from './web3/event-bus'
import Account from './web3/accounts'
import MobileTemplate from './components/MobileTemplate'
import Web3Wrapper from './web3/web3-wrapper'
import Home from './components/Home.vue'
import Earn from './components/Earn.vue'
import Burn from './components/Burn.vue'
import Producer from './components/Producer.vue'
import Campaigner from './components/Campaigner.vue'
import TGA from './components/TGA.vue'

export default {
  name: 'App',
  components: {
    MobileTemplate,
    Home,
    Earn,
    Burn,
    Producer,
    Campaigner,
    TGA
  },
  data: function () {
    return {
      currentPage: 'home',
      account: null,
      accountBalance: 0,
      accountBalanceEth: 0,
    }
  },
  created() {
    EventBus.$on('account-selected', (address) => {
      this.refreshProfile()
      this.account = Account.fromAddress(address)
      EventBus.$emit('refresh-profile', this.account)
    })

    EventBus.$on('balance-transfer', (isSender, amount) => {
      // console.log('balance-transfer', result)
      this.refreshProfile()
    })

    EventBus.$on('coin-retire', (isSender, amount) => {
      this.refreshProfile()
    })
    

    EventBus.$on('user-change-page', (page) => {
      this.currentPage = page
    })

    EventBus.$on('ask-user-balance', () => {
      EventBus.$emit('refresh-profile-balance', this.accountBalance)
      EventBus.$emit('refresh-profile-balance-eth', this.accountBalanceEth)
    })

    EventBus.$on('ask-user', () => {
      EventBus.$emit('refresh-profile', this.account)
    })
  },
  methods: {
    async refreshProfile() {
      this.accountBalance = parseInt(await Web3Wrapper.getBalance())
      EventBus.$emit('refresh-profile-balance', this.accountBalance)
      
      this.accountBalanceEth = parseInt(await Web3Wrapper.getBalanceInEth())
      EventBus.$emit('refresh-profile-balance-eth', this.accountBalanceEth)
    }
  }

}
</script>
